<nz-layout>
    <nz-header>行善是一种轮回！！！！！！</nz-header>
    <nz-layout>
      <nz-sider>
        <ul nz-menu [nzMode]="'inline'" style="width: 100%;">
          <li nz-submenu [nzOpen]="i === 0" *ngFor="let obj of menuList;index as i">
            <span title><i nz-icon [type]="obj.type"></i>{{obj.content}}</span>
            <ul>
              <ng-container *ngIf="obj.items && obj.items.length">
                <li nz-menu-item *ngFor="let item of obj.items;index as a" [nzSelected]="a === 0" [routerLink]="item.router">{{item.content}}</li>
              </ng-container>
              <ng-container *ngIf="obj.subMenuList && obj.subMenuList.length">
                <li nz-submenu *ngFor="let subMenu of obj.subMenuList">
                  <span title>{{subMenu.title}}</span>
                  <ul *ngIf="subMenu.items && subMenu.items.length">
                      <li nz-menu-item *ngFor="let subItem of subMenu.items" [routerLink]="subItem.router">{{subItem.content}}</li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content>
        <router-outlet></router-outlet>        
      </nz-content>
    </nz-layout>
</nz-layout>
