/* 这是主页的css */
:host {
    text-align: center;
  }

  :host ::ng-deep .ant-layout-header{
    background: #7dbcea;
    color: #fff;
  }

  :host ::ng-deep .ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }

  :host ::ng-deep .ant-layout-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  :host > ::ng-deep .ant-layout {
    /* margin-bottom: 48px; */
    height: 100%;
  }

  :host ::ng-deep .ant-layout:last-child {
    margin: 0;
  }
  .ant-menu {
    color: navy;
    height: 100%;
  }